<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coresample">

    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.core.SampleApp">
        <meta-data android:name="core.ENCRYPTION_KEY" android:value="${applicationId}.encryption.key" />

        <!-- Activities -->
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RealmActivity" />
        <activity android:name=".activities.RxJavaActivity" />
        <activity android:name=".activities.ImageActivity" />
        <activity android:name=".activities.LibraryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.${applicationId}.web/vnd.${applicationId}.web" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ImageViewActivity"
            android:theme="@style/AppTheme.FullScreen"/>

        <!-- Dialog -->
        <activity android:name=".dialog.SelectDialog"
            android:theme="@style/dialog_select"
            android:label="@string/title_select_dialog" />

        <!-- Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_files_path" />
        </provider>
        <provider
            android:name=".provider.WebBrowserProvider"
            android:authorities="${applicationId}.webbrowser"
            android:exported="false" />
    </application>
</manifest>